@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Recoleta;
    src: url("/font/Recoleta-Medium.woff") format("woff");
}

*{
  font-family: Recoleta !important;
}

/* .free-consultation{
  font-family: sans-serif !important;
} */

.animated-button {
    animation: upDownAnimation 1s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  @keyframes upDownAnimation {
    0% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(5px); /* Adjust the distance you want it to move */
    }
  }
  